server:
  port: 8084

spring:
  application:
    name: lingecho-voice-service
  redis:
    host: localhost
    port: 6379
    database: 0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com.lingecho: DEBUG

