server:
  port: 8081

spring:
  application:
    name: lingecho-auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/lingecho?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: lingecho
    password: lingecho123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  redis:
    host: localhost
    port: 6379
    database: 0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com.lingecho: DEBUG

